.footer{background-color: antiquewhite;}
h1{font-style:italic ; background-color: rgb(218, 236, 236);}
body{margin: 20px; padding: 20px;}
body{background-color: burlywood;}
img{margin-left: 50px;}
.footer{background-color: rgb(235, 144, 25);}